.panel{
    position: relative;
    width: 300px;
    height: 400px;
    margin-top: 10%;
    margin-left: 50%;
    left: -150px;
    border-radius:5px;
    text-align: center;
    background-color:#F3F3F3;
    padding-top: 120px;
}
.panel-login{
    position: absolute;
    border-radius:5px;
    width: 90%;
    height: 120px;
    margin-top: 50%;
    top: -170px;
    margin-left: 50%;
    left: -135px;
    text-align: center;
    background-color:#32C787;
}
.fa.fa-user-circle-o.panel-icon-login{
    position: absolute;
    top:15px;
    margin-left: -35px;
    color:#32C787;
    font-size:70px;
    border-radius:50%;
    background-color:white;
}
.background{
    background-color: #F3F3F3;
}
.p.text-login{
    position: absolute;
    width: 100%;
    border: 3px;
    color: white;
    top: 90px;
}
.input-login{
    margin-top: 20px;
    width: 80%;
    text-align: center;
}
.btn.btn-login{
    position: absolute;
    color:#32C787;
    background-color: #F3F3F3;
    font-size:70px;
    border-radius:50%;
    margin-left: -35px;
    margin-top: 25px;
}