<div style="text-align:center">
  <h2 class="jumbotron bg-secondary text-white">User Register</h2>
</div>
<div class="row">
  <div class="col-md-6">
    <app-user></app-user>
  </div>
  <div class="col-md-6">
    <app-user-list></app-user-list>
  </div>
</div>