<!--  -->
   <form class="emp-form" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
<div class="form-group">
    <input class="form-control" name="UserName" value="" #UserName="ngModel" ngModel placeholder="User Name" required>
    <div class="validation-error" *ngIf="UserName.invalid && UserName.touched">This field is Required</div>
    <input class="form-control" name="PassWord" value="" #PassWord="ngModel" ngModel placeholder="Password" required>
    <div class="validation-error" *ngIf="PassWord.invalid && PassWord.touched">This field is Required</div>
    <input class="form-control" name="Email" value="" #Email="ngModel" ngModel placeholder="Email" required>
    <div class="validation-error" *ngIf="Email.invalid && Email.touched">This field is Required</div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <input class="form-control" name="IsActive" #IsActive="ngModel" ngModel placeholder="Active">
    </div>
    <div class="form-group col-md-8">
        <button [disabled]="!userForm.valid" type="submit" class="btn btn-lg btn-block btn-info"><i class="fa fa-floppy-o"></i>Submit</button>
    </div> 
    <div class="form-group col-md-4">
        <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(userForm)"><i class="fa fa-repeat"></i>Reset</button>
    </div>
   </div>

</form>