<table class="table table-sm table-hover">
  <tr *ngFor="let User of UserService.UserList">
      <td>{{User.UserName}}</td><td>{{User.Password}}</td>
      <td>{{User.Email}}</td><td>{{User.IsActive}}</td>
      <a class="btn" (click)="showForEdit(User)">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </a>
      <a class="btn text-danger" (click)="showForEdit(User)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </a>
  </tr>
</table>